In [ ]:
#print Hello World
print("Hello World")

Hello

In [ ]:
#varriable type recognition
a = 200
print(a)
print(type(a))

print("Type of variable having Value", a, "is", type(a), 200, 200.2)

200
<class 'int'>

In [ ]:
#2.5 * 10^4 = 2.5e4
num_1 = 2.5e4
print(num_1)
print(type(num_1))

25000.0
<class 'float'>

In [ ]:
#casting
num_1 = 5
num_2 = 12.7

a = float(num_1)
print(a,type(a))

b = int(num_2)
print(b,type(b))

5.0 <class 'float'>
12 <class 'int'>

In [ ]:
#list type
my_list = [1,10,15,8]
print(my_list,type(my_list))

my_list[1] = 25
print(my_list)

[1, 10, 15, 8] <class 'list'>
[1, 25, 15, 8]

In [ ]:
#List index selection
my_list = [1,10,10,"cat",8,True]

print(my_list[-2])

print(my_list[1:6])

print(my_list[:3])

print(my_list[3:])

#select and change index range
my_list[2:4] = ["Dog",19.0]
print(my_list)

#add new data to index without deleting existing data
my_list.insert(3,"rabbit")
print(my_list,len(my_list))

#add data to end of the list
my_list.append("car")
print(my_list,len(my_list))

8
[10, 10, 'cat', 8, True]
[1, 10, 10]
['cat', 8, True]
[1, 10, 'Dog', 19.0, 8, True]
[1, 10, 'Dog', 'rabbit', 19.0, 8, True] 7
[1, 10, 'Dog', 'rabbit', 19.0, 8, True, 'car'] 8

In [36]:
#Third one will skip one in the range
my_list = [1,10,10,"cat",8,True]

print(my_list[0:4:2])

[1, 10]

In [ ]:
#unassigned values means to start from 0 and end from end
my_list = [1,10,10,"cat",8,True]

print(my_list[ : :2])

[1, 10, 8]

In [ ]:
#combine 2 Lists
my_list = [1,10,10,"cat",8,True]
new_list = ["Bus",False,17]
print(my_list,len(my_list))

my_list.extend(new_list)
print(my_list,len(my_list))

[1, 10, 10, 'cat', 8, True] 6
[1, 10, 10, 'cat', 8, True, 'Bus', False, 17] 9

In [ ]:
#deletes specified index
my_list = [1,10,10,"cat",8,True]
print(my_list,len(my_list))
my_list.pop(2)
print(my_list,len(my_list))

[1, 10, 10, 'cat', 8, True] 6
[1, 10, 'cat', 8, True] 5

In [20]:
my_list = [1,10,10,"cat",8,True]
print(my_list,len(my_list))

del my_list[2]

print(my_list,len(my_list))

#This deletes entire list
# del my_list

# print(my_list,len(my_list))

[1, 10, 10, 'cat', 8, True] 6
[1, 10, 'cat', 8, True] 5

In [ ]:
#clear list
my_list = [1,10,10,"cat",8,True]
print(my_list,len(my_list))

my_list.clear()
print(my_list,len(my_list))

[1, 10, 10, 'cat', 8, True] 6
[] 0

In [ ]:
#Sort to Alphabaticle order
my_list = ["dog","apple","parrot","banana"]


my_list.sort()

print(my_list)

['apple', 'banana', 'dog', 'parrot']

In [23]:
#Sort to Alphabaticle order
my_list = ["dog","apple","Parrot","banana"]

#Case sensitive sort - This will give priority to Capital Letters
my_list.sort()

print(my_list)

['Parrot', 'apple', 'banana', 'dog']

In [34]:
#Sort to Alphabaticle order
my_list = ["dog","apple","Parrot","banana"]

#This will flip previous Result
my_list.sort(reverse=True)

print(my_list)

['dog', 'banana', 'apple', 'Parrot']

In [ ]:
#Sort to Alphabaticle order
my_list = ["dog","apple","Parrot","banana"]

#Non-Case sensitive sort - This will not give priority to Capital Letters
my_list.sort(key=str.lower)

print(my_list)

['apple', 'banana', 'dog', 'Parrot']

In [ ]:
#Sort to Alphabaticle order
my_list = ["dog","apple","Parrot","banana"]

#reverse the List (Flip alternative)
my_list.reverse()

print(my_list)

['banana', 'Parrot', 'apple', 'dog']

In [60]:
my_list_1 = [-10,-18,12,5,7,12,-3]
my_list_2 = [8,4,-3,9,2,11]

#combine 2 Lists
my_list_1.extend(my_list_2)
print("UnSorted List: ",my_list_1)

my_list_1.sort()
print("Sorted List: ",my_list_1)

#median of Combined List
length = len(my_list_1)
if length % 2 == 1:  #check odd median
    median = my_list_1[length // 2]
else: #check even median
    median = int ( length + 1 ) / 2

print("Median:", median)

#Q1
q_1 = length // 4
print("Q1 Vlaue: ",my_list_1[q_1])

#Q3
q_3 = length // 4
print("Q3 Vlaue: ",my_list_1[q_3*3])

UnSorted List:  [-10, -18, 12, 5, 7, 12, -3, 8, 4, -3, 9, 2, 11]
Sorted List:  [-18, -10, -3, -3, 2, 4, 5, 7, 8, 9, 11, 12, 12]
Median: 5
Q1 Vlaue:  -3
Q3 Vlaue:  9

In [9]:
#copy one list to another
my_list1 = [20,15,"Dog",True]
my_list2 = []

my_list2.extend(my_list1)
my_list1[1] = "H"
print(my_list1)
print(my_list2)

[20, 'H', 'Dog', True]
[20, 15, 'Dog', True]

In [ ]:
#copy one list to another standard way
my_list1 = [20,15,"Dog",True]
my_list2 = []

my_list2 = my_list1.copy()
my_list1[1] = "5"
print(my_list1)
print(my_list2)

[20, '5', 'Dog', True]
[20, 15, 'Dog', True]

In [ ]:
#Extend Alternative
my_list1 = [20,15,"Dog",True]
my_list2 = [20,"HappyCow"]

my_list3 = my_list1 + my_list2
print(my_list3)

[20, 15, 'Dog', True, 20, 'HappyCow']

In [19]:
#Tuples

sports1 = ("ascoan", "sac")
print(sports1, type(sports1))

#to store 1 item in a tuple you have to use comma after
sports2 = ("ascoan",)
sports3 = ("ascoan")
print(type(sports2),type(sports3))

#negative positions are all the same
print(sports1[-1])

('ascoan', 'sac') <class 'tuple'>
<class 'tuple'> <class 'str'>
sac

In [ ]:
#Tuples are Immutable
my_tuple_1 = ("Dog", "Cat", 10)

my_tuple_1[1] = "Rat"
print(my_tuple_1[1])

TypeError: 'tuple' object does not support item assignment

In [27]:
#Converting Tuple to List In order to make It Mutable
my_tuple_1 = ("Dog", "Cat", 10)

my_list_1 = list(my_tuple_1)
my_list_1[1] = "Rat"
my_tuple_1 = tuple(my_list_1)
print(my_tuple_1,type(my_tuple_1))

('Dog', 'Rat', 10) <class 'tuple'>

In [ ]:
#Excersice
my_tuple_1 = (10,8,20,5)
my_tuple_2 = (5,9,-1)

my_list_1 = list(my_tuple_1)
my_list_2 = list(my_tuple_2)

my_list_1.pop(2)
print(my_list_1) 

my_list_1.extend(my_list_2)
my_list_1.sort()
my_tuple_3 = tuple(my_list_1)
print(my_tuple_3, type(my_tuple_3))

[10, 8, 5]
(-1, 5, 5, 8, 9, 10) <class 'tuple'>

In [2]:
#nested Tuple
my_tuple_1 = ( (1,10,8), ("Dog","Cat","Rat"), (True,False) )

print(my_tuple_1[0][1])
print(my_tuple_1[1][2])
print(my_tuple_1[2][0])

10
Rat
True

In [ ]:
#Range ( Use for Increment Operations )
s_1 = range(2,15,3)
for n in s_1 :
    print(n)

2
5
8
11
14

In [2]:
x = range(3, 6)
for n in x:
  print(n)

3
4
5

In [ ]:
x = range(3,6)
for n in x:
    print(n)

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
#Dictionary

dict_1 = {
    "name":"sugar",
    "price":"250.50"
}

print(dict_1,type(dict_1))

#dictionary also have a length
print(len(dict_1))

{'name': 'sugar', 'price': '250.50'} <class 'dict'>
2

In [ ]:
#Dictionary Duplicates

dict_1 = {
    "name":"sugar",
    "price":"250.50",
    "price":"255.50"
}

#last value replace the previous value due to duplicate key
print(dict_1,type(dict_1))

{'name': 'sugar', 'price': '255.50'} <class 'dict'>

In [8]:
#key should be used to access data

dict_1 = {
    "name":"sugar",
    "price":"250.50"
}

print(dict_1["price"])

250.50

In [ ]:
#update Data
dict_1 = {
    "name":"sugar",
    "price":"250.50"
}

dict_1.update({
    "name":"Sh",
    "price":"200.00"
    })

print(dict_1)

{'name': 'Sh', 'price': '200.00'}

In [ ]:
#Updating non existing item
dict_1 = {
    "name":"sugar",
    "price":"250.50"
}

dict_1["color"] = "white"
print(dict_1, len(dict_1))

{'name': 'sugar', 'price': '250.50', 'color': 'white'} 3

In [ ]:
#remove specific key item
dict_1 = {
    "name":"sugar",
    "price":"250.50"
}

dict_1.pop("name")
print(dict_1)

{'price': '250.50'}

In [ ]:
#last Item Remove
dict_1 = {
    "name":"sugar",
    "price":"250.50"
}

dict_1.popitem()
print(dict_1)

{'name': 'sugar'}

In [ ]:
#Destroy Dictionary
dict_1 = {
    "name":"sugar",
    "price":"250.50"
}

del dict_1["price"]
print(dict_1)

del dict_1
print(len(dict_1))

{'name': 'sugar'}

In [12]:
#Destroy Dictionary
dict_1 = {
    "name":"sugar",
    "price":"250.50"
}

del dict_1
print(len(dict_1))

NameError: name 'dict_1' is not defined

In [ ]:
#Clear dictionary
dict_1 = {
    "name":"sugar",
    "price":"250.50"
}

del dict_1["price"]
print(dict_1)

dict_1.clear()
print(dict_1)

{'name': 'sugar'}
{}

In [32]:
#copy dictionary
dict_1 = {
"name":"sugar",
"weight":"1kg",
"price":"120"
}

# dict_2 = dict(dict_1)
dict_2 = dict_1.copy()

dict_1["name"] = "lalma"
print(dict_1,"\n",dict_2)

{'name': 'lalma', 'weight': '1kg', 'price': '120'}
 {'name': 'sugar', 'weight': '1kg', 'price': '120'}

In [ ]:
#Return Keys
dict_1 = {
"name":"sugar",
"weight":"1kg",
"price":"120"
}

print(dict_1.keys())

dict_keys(['name', 'weight', 'price'])

In [37]:
x = input("Enter name: ")
print(x)

hi

In [ ]:
#arithmatic operators excercise
x = input("Enter a number")
y = int(x) % 7

print(y == 0)

True

In [ ]:
x = input("Enter Number: ")

print( (int(x)>0) and (int(x)<100) and (int(x) % 2 != 0) )

True

In [66]:
#Identity Operators in Python
x = 5
y = 6

print(x is y)
print(x is not y)

False
True

In [69]:
#memberShip Operators simply check if a given value exists
nums = [10,12,8,5,4]

print(10 in nums)
print(15 in nums)
print(15 not in nums)

True
False
True

In [76]:
x = 1
y = 1
z = x & y

print(z)

1

In [ ]:
#Control Flow Statements
n = int(input("Enter A Number"))

if n%2 == 0:
    print("This is an Even Number")
else:
    print("This is an Odd Number")

This is an Odd Number

In [ ]:
#Else if
a = int(input("Enter A Number"))

if a<0:
    print("This is a negative number")
elif a>0:
    print("This is a positive Number")
else:
    print("This is Zero")

This is a positive Number

In [117]:
marks = int(input("Enter mark"))

if marks > 100 or x < 0:
    print("Out Of Range")
elif( marks >= 85 ):
    print("A")
elif( marks >= 75 ):
    print("B")
elif( marks >= 65 ):
    print("C")
elif(marks >= 55):
    print("D")
else:
    print("F")

F

In [124]:
a = 10
b = 20
c = 30

print("Largest number is: ",max(a,b,c))

Largest number is:  30

In [133]:
a = 10
b = 20
c = 30

if a>b :
    if a>c :
        print(a)
    else:
        print(c)
elif b>c :
    print(b)
else:
    print(c)

30

In [ ]:
#Turnery

x = int(input("Enter Int"))
result = "Even" if x % 2 == 0 else "Odd"
print(result)

Even

In [15]:
x = int(input("Enter int"))

result = "Ok" if x%3 == 0 and x%2 == 0 else "not ok"
print(result)

Ok

In [ ]:
#Same as above
x = int(input("Enter int"))

result = "Ok" if x%6 == 0 else "not ok"
print(result)

not ok

In [23]:
response_code = int(input("Enter Nummber"))

match response_code:
    case 200:
        print("Ok")
    case 201:
        print("Created")
    case 404:
        print("404 Not Found")
    case 500:
        print("Internal Server Error")
    case _:
        print("Something else")

Ok

In [ ]:
#match with if Standard
x = int(input("Enter Number"))

match x:
    case 0:
        print("Zero")
    case -1:
        print("Negative One")
    case 1:
        print("Positive One")
    case _ if x>1:
        print("Positive Number Greater Than One")
    case _ if x<-1:
        print("Negative Number less Than Negative One")
    case _:
        print("Unmatched Case")

Zero

In [28]:
#match with alternative
x = int(input("Enter Number"))

match x:
    case 0:
        print("Zero")
    case -1:
        print("Negative One")
    case 1:
        print("Positive One")
    case x if x>1:
        print("Positive Number Greater Than One")
    case x if x<-1:
        print("Negative Number less Than Negative One")
    case _:
        print("Unmatched Case")

Positive Number Greater Than One

In [ ]:
#Pattern Matching
numbers = [4, 3, 7]

match numbers:
    case [x, y]:
        print(x * y)
    case [x, y, z]:
        print(x + y + z)
    case _:
        print("The list does not contain 2 or 3 numbers!")

14

In [ ]:
#Check list Length
my_list = [x, y]

match my_list:
    case []:
        print("Empty List")
    case [x]:
        print("List has Single Elements")
    case [x, y]:
        print("List has the Elements")
    case _:
        print("This is Something Else")

List has the Elements

In [38]:
#For loop
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [47]:
#Excersice
my_list = [2, 5, 8]
_squares = []

for x in my_list:
    _squares.append(x*x)
    
print(_squares)

[4, 25, 64]

In [49]:
#above in one line
my_list = [2, 5, 8]

[ x**2 for x in my_list]

[4, 25, 64]

In [50]:
#power in 1-10 in one line

my_list = [1,2,3,4,5,6,7,8,9,10]

[x**2 for x in my_list]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[x**2 for x in range(1,11,1)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
#1st way
[x**2 for x in range(2,11,2)]

#2nd way
[x**2 for x in range(1,11,1) if x % 2 == 0]

[4, 16, 36, 64, 100]

In [ ]:
#While Loop
m = 5
i = 0

while i < m:
    print(i, end = ", ")
    i = i + 1
print("End")

0, 1, 2, 3, 4, End

In [78]:
x = int(input("Enter Number:"))
y = 2

while y < x:
    print(y, end = ", ")
    y += 2
    
print("End")

2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, End

In [ ]:
#break
x = int(input("Enter Number:"))
y = 2

while y < x:
    if y == 100:
        break
    else:
        print(y, end=" ")
        y+=2
    
print("End")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 End

In [86]:
#Excercise
total = 0

while True:
    i = int(input("Enter Number:"))
    if i == 0:
        break
    else:
        total += i
        
print(total)

100

In [ ]:
#Continue - THIS SKIPS THE CURRENT ITERATION
my_list = [3, 8, 15, 10, 9, 7, 14 ]

for i in my_list:
    if i%2==0:
        continue
    else:
        print(i)

3
15
9
7

In [88]:
#Unpacking

my_list = [10, 12, 8]

x, y, z = my_list

print(x, y, z)

10 12 8

In [89]:
my_tuple = (10, 12, 8)

x, y, z = my_tuple

print(x, y, z)

10 12 8

In [ ]:
#Dictionary Unpacking

dictionary = {
    "name":"Shenan",
    "intention":"hello"
}

for key, value in dictionary.items():
    print(key, value)

name Shenan
intention hello

In [101]:
dictionary = {
    "name":"Shenan",
    "intention":"hello"
}

for key in dictionary.keys():
    print(key)

name
intention

In [102]:
dictionary = {
    "name":"Shenan",
    "intention":"hello"
}

for value in dictionary.values():
    print(value)

Shenan
hello

In [ ]:
#Merging

dict_1 = {'a':1}
dict_2 = {'b':2}

dict_3 = dict_1 | dict_2
print(dict_3)

{'a': 1, 'b': 2}

In [ ]:
#get dict values
my_dict = {
    'a':1,
    'b':3,
    'c':8
}

# my_dict['b']

# my_dict.get('b', default_value)

print(my_dict.get('b', int(1)))

1

In [ ]:
#python function

def calculate_volume(parameters):
    return

In [ ]:
def addNumbers(a,b):
    return a+b

print( addNumbers(10,20) )

30

In [ ]:
PI_VALUE = 3.14

def calculate_circle_area(r):
    return PI_VALUE*r**2

print( calculate_circle_area( int( input("input circle radius") ) ) )

2

In [31]:
my_list = { 4, 8, 12, 5, 9, 7 }


def mean_of_list(my_list1):
    total = 0
    
    for n in my_list1:
        total += n
    return total / len(my_list1)

print(mean_of_list(my_list))

7.5

In [ ]:
#Three types of Arguments

#Default Arguments
#Keyword Arguments
#Arbitarary Positional Arguments
#Arbitarary Keyword Arguments

In [ ]:
#Keyword parameters

def calculate_total_cost(item_price, quantity, discount = 0, tax = 0):
    
    item_price = item_price * quantity
    discount_price = item_price * discount/100
    
    item_total = item_price - discount_price
    tax_value =  item_total * tax/100
    
    return item_total - tax_value
    
x = int(input("Enter qty"))
    
print(calculate_total_cost(200, x, 60))

2400.0

In [ ]:
def arbitarary_positional_arguments(*args):  #args argument is always a tuple when accesing inside method.
    print(args, type(args))
    

arbitarary_positional_arguments(1,2,3)

(1, 2, 3) <class 'tuple'>

In [3]:
#write a function to calculate the summation of any given number of nummbers

def sum_of_nums(*args):
    print(sum(args))
    
sum_of_nums(1,2,3,4,5,6)

21

In [ ]:
#different approach for the above excersise
def sum_of_nums(*args):
    sum = 0
    for x in args:
        sum+=x
    print(sum)
    
    
sum_of_nums(1,2,3,4,5,6)

21

In [ ]:
#write a python function called summarize_grades that accepts a students name as a mandatory argument an arbitary number of grade scores. 
# The function should,
# print the student name
# calculate and print the highest grade, lowest grade and average grade from the provided scores.

#if no grades are provided you should print no grades available.

def summarize_grades(student_name, *args):
    
    if not args:
        print("No grades provided")
    else:
        print("Student Name: ", student_name)
        print(max(args), "is the Highest Grade")
        print(min(args), "is the Minimum Grade")
    
        _average = sum(args)/len(args)
        
        print(_average,"is the Average Grade")
    
summarize_grades("Shenan",12,50,60,100,38,90)

Student Name:  Shenan
100 is the Highest Grade
12 is the Minimum Grade
58.333333333333336 is the Average Grade

In [ ]:
#brain quiz sites

#Leet code
#Hacker Rank

In [20]:
#Arbitarary Keyword Arguments

def arbitarary_keyword_args(** kwargs):  #kwargs is a dictionary
    print(kwargs, type(kwargs))
    
arbitarary_keyword_args(name="Sheann", age=21, city="New-York")

{'name': 'Sheann', 'age': 21, 'city': 'New-York'} <class 'dict'>

In [24]:
#Arbitarary Keyword Arguments managing dictionary

def arbitarary_keyword_args(** kwargs):  #kwargs is a dictionary
    for key,value in kwargs.items():
        print("key =",key, "value =",value)
    
arbitarary_keyword_args(name="Sheann", age=21, city="New-York")

key = name value = Sheann
key = age value = 21
key = city value = New-York

In [39]:
#write a python function employee_info that accepts a required 'name' parameter and arbitary number of keyword arguments representing additional details about the employee.
#the function should,

#print the employees name iterate through the keyword argumnets and print each key value pair in the format " <key>:<value> "
#bonus question: return a dictionary with all the 'employee deatails'

def employee_info(name,**kwargs):
    print(name)
    for key,value in kwargs.items():
        print("key =", key, "value =",value)
    return {"name":name} | kwargs
    
    
print(employee_info("Shenan", age="21", job="Manger",salary="200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"))

Shenan
key = age value = 21
key = job value = Manger
key = salary value = 200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
{'name': 'Shenan', 'age': '21', 'job': 'Manger', 'salary': '200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000'}

In [ ]:
#built in functions

https://docs.python.org/3/library/functions.html

In [ ]:
#absolute value

abs(-20) #returns absolute value

20

In [ ]:
# map()

# map(your_function,iterable)

my_list = [5,4,2]

def find_square(x):
    return x*x

#convert to map
_result = map(find_square,my_list)
print(_result,type(_result))


#convert back to list to see answers
_result = list(_result)
print(_result,type(_result))

<map object at 0x00000249F2CDD6C0> <class 'map'>
[25, 16, 4] <class 'list'>

In [ ]:
_result = map(find_square,my_list_1, my_list_2) #any number of iterables can be passed

In [ ]:
#map() excersice

my_list_1 = [10, 12, 7, 5]
my_list_2 = [9, 5, 4, 1]

def find_sum(x,y):
    return x+y
    
result = map(find_sum, my_list_1, my_list_2)
print(list(result))

[19, 17, 11, 6]

In [47]:
#you have a list of integers representinng temperatures in celcius

#tempratures = [20, 30, 25, 40, 50]
#write a python program using the map function to convert these tempratures into farenhites.

#use the formula 
# farenhite = celsius * 9/5 + 32

tempratures = [20, 30, 25, 40, 50]

def to_farenhite(x):
    return x*9/5 + 32

result = map(to_farenhite, tempratures)
print(list(result))

[68.0, 86.0, 77.0, 104.0, 122.0]

In [ ]:
#filter() use to filter

filter(function, iterable) #function should always return TRUE, FALSE

In [ ]:
#filter out even numbers

my_list = [5,7,8,3,12,14]

def odd_numbers(x):
    if x%2 != 0:
        return True

result = filter(odd_numbers, my_list)

print(list(result))

[5, 7, 3]

In [50]:
#filter out odd numbers

my_list = [5,7,8,3,12,14]

def odd_numbers(x):
    return x%2 == 0

result = filter(odd_numbers, my_list)

print(list(result))

[8, 12, 14]

In [ ]:
#python lamda functions

#syntax

lambda arguments: expression

In [54]:
add = lambda x,y : x+y

print(add(3,4))

#call without variable
result = (lambda x,y : x+y) (5, 3)
print(result)

7
8

In [ ]:
# write a python program that takes a list of tuples, where each tuple contains a name and age,
# use a lambda function to filter out the tuples where the 'age < 18'
# print the list of tuples after filtering

people = [("Alice",22), ("Jhon",17), ("Andrew", 21), ("Kate", 15)]

filtered_people = list( filter(lambda person: person[1] > 18, people) )
print(filtered_people)

[('Alice', 22), ('Andrew', 21)]

In [59]:
#taking lambda true power by using through a func
def myfunc(h):
    return lambda a:a*h

my_doubler = myfunc(2)
print(my_doubler(5))

10

In [ ]:
_max_num = lambda a,b: a if a>b else b

print(_max_num(5,6))

In [ ]:
#find Factorial
def find_factorial(h):
    if h == 0:
        return 1
    else:
        factorial = 1
        for i in range(1,h+1):
            factorial *= i
        return factorial
    
print(find_factorial(50))

30414093201713378043612608166064768844377641568960512000000000000

In [83]:
#recursive function

def factorial(x):
    if x == 0 or x == 1:
        return 1
    else:
        return (x*factorial(x-1))
    
print(factorial(1558))

2424858401169875856987549316530261243529336396354700842715749979460646110058233651782392648030625575890603295838549136086203631494904372698578181999057212055535785846413969420066573092861481554378165635499319577948946469878800693106187103360224139995239288292467274991657581799887960732860730465294056429604010675825650845592134295845654185424392132561718318353026455262912039002664120813132000602020151818744862796534620281615341820385425346251471878908201301227337883132211649086124629581129201309548248991126780745470297556208250525153383428851713805456555419758707284753260768805845944423382917543868035509410367649517977378961396490420583560768554085728596839435423979501005167390976056828737759722931049053051870481354220566751757226315251920734049093559363656820097662644345104685665152444697669009659982518091310671058073959926600845011866653850725006741331610135998770449096045426206531544154144601729043078225608136613193686346346764203375001081246967670378990121777385901921245133042374777487279240176076181929206652760242551593468206588418766183401939736514661022447416367789422605988204789848476655904174023752533626768590363300938231129606313365312387913130971900390208938471907315110717317435321123464794906710193916413838207147074458529525935478113361841325520841044346267628381902449941524896332350384902526765982148700924154884023605222691782597459599121027544229955922681404443327840648118042191399221650956164672857148227101451532445295161873221075926687151309815858723796054292521542311108190618276056103071140889723197707702368244847779594197140241112042128900654662720100758519336991189420021569389659862373674109453168227154296233208845394442627758282640964050502230911632608683569869755423400072413157317525410032842653580093887735517690412593258359388487289802270353135756659547954667344672901471048389223259683469006995762263469036620522300662493285722212048473141061111827211648276284983691538501299996459350066613212712170474963890532178735800245974574640904674554123815017979113627519922145830691096868313633320304359164703825903963661604335411773033078697699311892617463175229334854531701631075383899708905233041291527887059381689504636267968336033244928031019352467588242769652345533099117594059102256248189810284600657855707971881794779733938869280438373216606816889288287015049782284899585369920877745590840887712363661997881545433844629800189205229597440143179700162824702134957418586285920953284900382720017357876988767296282790084172114532622647998154080918863914038958583660595208167281479883677535909771428614756103440615905873310606657147769597200148222567970379939256596381142850272187439045199365546037482887333248526026065549397730475314476322168067523034600032867511743419691437003992038152628324659432676263448764134014429405489180634364519282138519962363193701386950109467042340571843977537752976341094127822030600936793871334872293490903117072170466054983434825167266916722980296391441044563178977701723309785609111259614474247364528550386532388327264689711775604664427340228901835597557029992960492192464058200400988909295153551200837397817601282679220611104173652358509007521101053095620748168997861050130023817703319787079095235833374426177514286578246903083415169109359323812741314724620593271262917265094024216337214863533448529254632599541703878619604512594846124252613960262726215219134672211844311020666195270036284140614857902974771290503656870984782590335117218368984797972576852801418834170795097602013208317371156612874344638041764532057542786831351076365498540443813006372421380736034740771076764178132559828434447544678633583005046265334346831012385703067191550416222980088761154519553974935287498676582754658553261232252765802371799256016444945115393409561160793126126735836975302341046431089640850574341354122545220831810806852068691732327187184240511538962440151159519314143893886850233861037997459199145386272154940965985357257552760909210073432064000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000